@page "/counter-webassembly"
@rendermode InteractiveWebAssembly

<PageTitle>Counter (WebAssembly)</PageTitle>

<h1>Counter (WebAssembly)</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
