@page "/example/{param?}"

<PageTitle>Parameter</PageTitle>

<h1>Parameter Example</h1>

<p>
    Add a route parameter segment to the URI in the address bar 
    and request the page again.
</p>

<p>
    Param: @Param
</p>

@code {
    [Parameter]
    public string? Param { get; set; }
}
