@page "/form-1"
@inject ILogger<Form1> Logger

<PageTitle>Form 1</PageTitle>

<h1>Form Example 1</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Name: 
            <InputText @bind-Value="model.Name" />
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Model model = new();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}
