@page "/form-7"
@inject ILogger<Form7> Logger

<PageTitle>Form 7</PageTitle>

<h1>Form Example 7</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Name: 
            <CustomInputText @bind-Value="model.Name" />
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>

<p>
    CurrentValue: @model.Name
</p>

@code {
    private Model model = new();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}
