@page "/file-download-2"
@inject IJSRuntime JS

<h1>File Download Example 2</h1>

<button @onclick="DownloadFileFromURL">
    Download File From URL
</button>

@code {
    private async Task DownloadFileFromURL()
    {
        var fileName = "log.bin";
        var fileURL = "https://localhost:5001/files/log.bin";
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
}
