@page "/Account/Logout"
@inject NavigationManager navigationManager
@inject MauiAuthenticationStateProvider AuthStateProvider

<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code{
    protected override void OnInitialized()
    {
        AuthStateProvider.SignOut();
        navigationManager.NavigateTo("Account/Login");
    }
}
