@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorWebAppMovies.Data.BlazorWebAppMoviesContext DB
@using BlazorWebAppMovies.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <input @bind="titleFilter" />
    <button @onclick="FilterMovies">Search</button>
</p>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="@movies">
    <PropertyColumn Property="movie => movie.Title" Sortable="true" />
    <PropertyColumn Property="movie => movie.ReleaseDate.ToShortDateString()" Title="Release Date" />
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />
    <PropertyColumn Property="movie => movie.Rating" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<Movie>? movies;
    private string? titleFilter;

    protected override void OnInitialized()
    {
        movies = DB.Movie;
    }

    private void FilterMovies()
    {
        if (!string.IsNullOrEmpty(titleFilter))
        {
            movies = DB.Movie.Where(
                s => !string.IsNullOrEmpty(s.Title) ? 
                    s.Title.Contains(titleFilter) : false);
        }
        else
        {
            movies = DB.Movie;
        }
    }
}
