@page "/expander-toggle-example"

<PageTitle>Expander</PageTitle>

<h1>Expander Toggle Example</h1>

<Expander Expanded="expanded">
    Expander 1 content
</Expander>

<Expander Expanded="expanded" />

<TwoWayExpander @bind-Expanded="expanded">
	Expander 1 content
</TwoWayExpander>

<TwoWayExpander @bind-Expanded="expanded" />

<button @onclick="StateHasChanged">
    Call StateHasChanged
</button>

<button @onclick="Toggle">
	Toggle
</button>

@code {
	private bool expanded;
	private void Toggle()
	{
		expanded = !expanded;
	}
}
