@page "/expander-example"
@* To be deleted in separate PR *@

<PageTitle>Expander</PageTitle>

<h1>Expander Example</h1>

<Expander Expanded="true">
    Expander 1 content
</Expander>

<Expander Expanded="true" />

<button @onclick="StateHasChanged">
    Call StateHasChanged
</button>
