@page "/reference-parent-2"

<PageTitle>Reference Parent 2</PageTitle>

<h1>Reference Parent Example 2</h1>

<button @onclick="CallChildMethod">
    Call <code>ReferenceChild.ChildMethod</code> with an argument of 5
</button>

<ReferenceChild @ref="childComponent" />

@code {
    private ReferenceChild? childComponent;

    private void CallChildMethod()
    {
        childComponent!.ChildMethod(5);
    }
}
