/*::deep td:empty {
    border-bottom-width: 0;
}
    */
/*
::deep tr {
    height: 2em;
}
    */

::deep tr:has(> td:not(:empty)) > td {
    display: table-cell;
}

::deep td:empty {
    display: none;
}
/*

::deep td:empty {
    border-bottom-width: 0;
}
        */
    
