name: Validate samples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            bwa100:
              - '10.0/BlazorSample_BlazorWebApp/**'
            bwa90:
              - '9.0/BlazorSample_BlazorWebApp/**'
            bwa80:
              - '8.0/BlazorSample_BlazorWebApp/**'
            bs70:
              - '7.0/BlazorSample_Server/**'
            bs60:
              - '6.0/BlazorSample_Server/**'
            bs50:
              - '5.0/BlazorSample_Server/**'
            bs31:
              - '3.1/BlazorSample_Server/**'
            bw100:
              - '10.0/BlazorSample_WebAssembly/**'
            bw90:
              - '9.0/BlazorSample_WebAssembly/**'
            bw80:
              - '8.0/BlazorSample_WebAssembly/**'
            bw70:
              - '7.0/BlazorSample_WebAssembly/**'
            bw60:
              - '6.0/BlazorSample_WebAssembly/**'
            bw50:
              - '5.0/BlazorSample_WebAssembly/**'
            bw31:
              - '3.1/BlazorSample_WebAssembly/**'

      - name: Get latest .NET SDK
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: '10.0.x'

      - name: Restore/build 10.0/BlazorSample_BlazorWebApp
        if: steps.filter.outputs.bwa100 == 'true'
        run: dotnet build 10.0/BlazorSample_BlazorWebApp

      - name: Restore/build 9.0/BlazorSample_BlazorWebApp
        if: steps.filter.outputs.bwa90 == 'true'
        run: dotnet build 9.0/BlazorSample_BlazorWebApp

      - name: Restore/build 8.0/BlazorSample_BlazorWebApp
        if: steps.filter.outputs.bwa80 == 'true'
        run: dotnet build 8.0/BlazorSample_BlazorWebApp

      - name: Restore/build 7.0/BlazorSample_Server
        if: steps.filter.outputs.bs70 == 'true'
        run: dotnet build 7.0/BlazorSample_Server

      - name: Restore/build 6.0/BlazorSample_Server
        if: steps.filter.outputs.bs60 == 'true'
        run: dotnet build 6.0/BlazorSample_Server

      - name: Restore/build 5.0/BlazorSample_Server
        if: steps.filter.outputs.bs50 == 'true'
        run: dotnet build 5.0/BlazorSample_Server

      - name: Restore/build 3.1/BlazorSample_Server
        if: steps.filter.outputs.bs31 == 'true'
        run: dotnet build 3.1/BlazorSample_Server

      - name: Restore/build 10.0/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw100 == 'true'
        run: dotnet build 10.0/BlazorSample_WebAssembly

      - name: Restore/build 9.0/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw90 == 'true'
        run: dotnet build 9.0/BlazorSample_WebAssembly

      - name: Restore/build 8.0/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw80 == 'true'
        run: dotnet build 8.0/BlazorSample_WebAssembly

      - name: Restore/build 7.0/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw70 == 'true'
        run: dotnet build 7.0/BlazorSample_WebAssembly

      - name: Restore/build 6.0/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw60 == 'true'
        run: dotnet build 6.0/BlazorSample_WebAssembly

      - name: Restore/build 5.0/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw50 == 'true'
        run: dotnet build 5.0/BlazorSample_WebAssembly

      - name: Restore/build 3.1/BlazorSample_WebAssembly
        if: steps.filter.outputs.bw31 == 'true'
        run: dotnet build 3.1/BlazorSample_WebAssembly
